<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- adding publicnav partials -->
    <% include ../partials/publicnav.ejs %>
    <section class="section">
      <div class="container">
        <h1 class="title">tryouts status</h1>

        <div class="field">
          <div class="control">
            <div class="select">
              <select name="teamId">
                  <% for(let i = 0; i < teams.length; i++) { %>
                      <option value="<%=teams[i].id%>"><%=teams[i].name%></option>
                  <% } %>
              </select><br/>
            </div>
          </div>
        </div>

        <form action="/skaters/status" method="post">
          <div class="field">
            <div class="control">
              <input class="input is-medium is-hovered" type="text" name="name" placeholder="skater name">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="button"type="submit" value="find me">
            </div>
          </div>

        </form>
      </div>
    </section>


  </body>
</html>
