<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- adding privatenav partials -->
    <% include ../partials/privatenav.ejs %>
    <!-- nav -->

    <h1>this is index for skaters</h1>
    <ul>
      <% for(let i =0; i < skaters.length; i++){%>
        <li><a href="/skaters/<%=skaters[i].id%>"><%=skaters[i].name%></a></li>
      <%}%>
    </ul>
  </body>
</html>
