<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mgmt</title>
  </head>
  <body>
    <h1>add a new skater</h1>
    <form action="/skaters" method="post">
      skater name: <input type="text" name="name">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
