<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../partials/head.ejs %>
  <body>
    <h1>add a new skater</h1>
    <form action="/skaters" method="post">
      skater name: <input type="text" name="name">
      returning skater <input type="checkbox" name="veteran">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
