<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>beyond the track</strong> made with love by <a href="http://github.com/sambernaldamasco">Sam Bernal-Damasco</a>
    </p>

  </div>
</footer>
