<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://rainycityrollerderby.com/wp-content/themes/pstheme/assets/img_min/track.png"  width="50" height="28" style="filter: grayscale(100%); margin-right:5px;">
      <p>BTT</p>
    </a>

  </div>

  <div id="navbarBasicExample" class="navbar-menu" >
    <div class="navbar-end">
      <a class="navbar-item" href="/">
        home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
       <a class="navbar-link">
         for skaters
       </a>

       <div class="navbar-dropdown">
         <a class="navbar-item" href="/skaters/new">
           sign up
         </a>
         <a class="navbar-item" href="/skaters/status/find">
           check my status
         </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
       <a class="navbar-link">
         for teams
       </a>

       <div class="navbar-dropdown">
         <a class="navbar-item" href="/team/new">
           register
         </a>
         <a class="navbar-item" href="/admin">
           login / sign up
         </a>
        </div>
      </div>
  </div>
</nav>
