<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://rainycityrollerderby.com/wp-content/themes/pstheme/assets/img_min/track.png"  width="50" height="28" style="filter: grayscale(100%); margin-right:5px;">
      <p>BTT</p>
    </a>

  </div>

  <div id="navbarBasicExample" class="navbar-menu" >
    <div class="navbar-end">
      <a class="navbar-item" href="/">
        home
      </a>

      <a class="navbar-item" href="/skaters/new">
        sign up
      </a>

      <a class="navbar-item" href="/skaters/new">
        status
      </a>
    </div>
  </div>
</nav>
