<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>beyond the track</title>
  </head>
  <body>
    <h1>beyond the track</h1>
    <h2>welcome</h2>
    <a href="/sessions/new">log in</a>
    <a href="/users/new">sign up</a>
  </body>
</html>
