<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Beyond the Track</title>
  </head>
  <body>
    <img style="filter: grayscale(100%)" src="https://rainycityrollerderby.com/wp-content/themes/pstheme/assets/img_min/track.png" alt="track layout">
    <h2>hello there</h2>
    <p>beyond the track is a small tool to help derby leagues thrive during tryouts season </p>
    <div>
      ready to join a world class travel team?
      <a href="/skaters/new">sign up for tryouts</a>
    </div>

    <div>
      already signed up?
      <a href="/skaters/new">check my status</a>
    </div>

    <footer>
        <a href="/admin">for admins</a>
    </footer>
  </body>
</html>
