<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ./partials/head.ejs %>
  <body>
    <h2>Welcome back</h2>
    <a href="/skaters">start tryouts</a>
    <a href="/team">current roster</a>
    <a href="/skaters/admin/add">add new skater to tryouts</a>
  </body>
</html>
