<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ./partials/head.ejs %>
  <body>
    <!-- adding privatenav partials -->
    <% include ./partials/privatenav.ejs %>
    <!-- nav -->

    <section class="section">
      <div class="container">
        <h1 class="title">welcome back!</h1>
        <a class="button is-dark is-outlined is-large" href="/skaters">start tryouts</a><br>
        <br><a class="button is-dark is-outlined is-large" href="/team">current roster</a><br>
        <br><a class="button is-dark is-outlined is-large" href="/skaters/new">add new skater to tryouts</a><br>
        <br><a class="button is-dark is-outlined is-small" href="/skaters/new/seed">seed skaters</a>
      </div>
    </section>

    <!-- adding the footer -->
    <% include ./partials/footer.ejs %>
  </body>
</html>
