<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>this is the team page</h1>
    <ul>
      <% for(let i =0; i < skaters.length; i++){%>
        <li><a href="/skaters/<%=skaters[i].id%>"><%=skaters[i].name%></a></li>
      <%}%>
    </ul>
  </body>
</html>
