<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../../partials/head.ejs %>
  <body>
    <!-- adding privatenav partials -->
    <% include ../../partials/privatenav.ejs %>
    <!-- nav -->

    <section class="section">
      <div class="container">
        <h1 class="title">team roster</h1>
        <ul>
          <% for(let i =0; i < skaters.length; i++){%>
            <li><a href="/skaters/<%=skaters[i].id%>"><%=skaters[i].name%></a></li>
          <%}%>
        </ul>
      </div>
    </section>

  </body>
</html>
