<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- adding nav from partials -->
    <% include ../partials/publicnav.ejs %>
    <section class="section">
      <div class="container">
        <h1 class="title">log in</h1>
        <form action="/sessions" method="POST">

          <div class="field">
            <div class="control">
              <div class="select">
                <select name="teamId">
                    <% for(let i = 0; i < teams.length; i++) { %>
                        <option value="<%=teams[i].id%>"><%=teams[i].name%></option>
                    <% } %>
                </select><br/>
              </div>
            </div>
          </div>
          
          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" name="username" placeholder="username"><br>
            </div>

            <div class="control">
              <input class="input is-medium" type="password" name="password" placeholder="password"><br>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="button is-dark" type="submit" value="log in">
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
