<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../partials/head.ejs %>
  <body>
    <h1>new user page</h1>
    <form action="/users" method="POST">
      invitation code: <input type="text" name="inviteCode"><br>
      username: <input type="text" name="username"><br>
      password: <input type="password" name="password"><br>
      <input type="submit" value="register">
    </form>
  </body>
</html>
