<nav>
  <a href="/skills/<%=skater.id%>/agility">agility</a>
  <a href="/skills/<%=skater.id%>/fitness">fitness</a>
  <a href="/skills/<%=skater.id%>/teamwork">teamwork</a>
  <a href="/skills/<%=skater.id%>/coachability">coachability</a>
</nav>
