<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>agility page</h1>
    <form  action="/skaters/<%=skater.id%>/skills/agility?_method=PUT" method="post">
      Lateral Movement:<br>
        1<input type="radio" name="lateralMovement" value="1"><br>
        2<input type="radio" name="lateralMovement" value="2"><br>
        3<input type="radio" name="lateralMovement" value="3"><br>
        4<input type="radio" name="lateralMovement" value="4"><br>
        5<input type="radio" name="lateralMovement" value="5"><br>
      Hockey Stop: <br>
        1<input type="radio" name="hockeyStop" value="1"><br>
        2<input type="radio" name="hockeyStop" value="2"><br>
        3<input type="radio" name="hockeyStop" value="3"><br>
        4<input type="radio" name="hockeyStop" value="4"><br>
        5<input type="radio" name="hockeyStop" value="5"><br>
      Plow Stop: <br>
        1<input type="radio" name="plowStop" value="1"><br>
        2<input type="radio" name="plowStop" value="2"><br>
        3<input type="radio" name="plowStop" value="3"><br>
        4<input type="radio" name="plowStop" value="4"><br>
        5<input type="radio" name="plowStop" value="5"><br>
      Turning Toe Stop: <br>
        1<input type="radio" name="turningToeStop" value="1"><br>
        2<input type="radio" name="turningToeStop" value="2"><br>
        3<input type="radio" name="turningToeStop" value="3"><br>
        4<input type="radio" name="turningToeStop" value="4"><br>
        5<input type="radio" name="turningToeStop" value="5"><br>
      Power Slide: <br>
        1<input type="radio" name="powerSlide" value="1"><br>
        2<input type="radio" name="powerSlide" value="2"><br>
        3<input type="radio" name="powerSlide" value="3"><br>
        4<input type="radio" name="powerSlide" value="4"><br>
        5<input type="radio" name="powerSlide" value="5"><br>
      Transistions: <br>
        1<input type="radio" name="transitions" value="1"><br>
        2<input type="radio" name="transitions" value="2"><br>
        3<input type="radio" name="transitions" value="3"><br>
        4<input type="radio" name="transitions" value="4"><br>
        5<input type="radio" name="transitions" value="5"><br>
      Backwards Skating/Blocking: <br>
        1<input type="radio" name="backwardsSkating" value="1"><br>
        2<input type="radio" name="backwardsSkating" value="2"><br>
        3<input type="radio" name="backwardsSkating" value="3"><br>
        4<input type="radio" name="backwardsSkating" value="4"><br>
        5<input type="radio" name="backwardsSkating" value="5"><br>
        <input type="submit" name="" value="save">
    </form>

  </body>
</html>
