<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- adding subnav for assessments -->
    <% include ../partials/skillsnav.ejs %>
    <h1>fitness</h1>
    <form  action="/skills/<%=skater.id%>/coachability?_method=PUT" method="post">
      Proactiveness:<br>
      <table>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <td> <input type="radio" name="proactiveness" value="1"> </td>
          <td> <input type="radio" name="proactiveness" value="2"> </td>
          <td> <input type="radio" name="proactiveness" value="3"> </td>
          <td> <input type="radio" name="proactiveness" value="4"> </td>
          <td> <input type="radio" name="proactiveness" value="5"> </td>
        </tr>
      </table>

      Mental Recovery: <br>
      <table>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <td> <input type="radio" name="mentalRecovery" value="1"> </td>
          <td> <input type="radio" name="mentalRecovery" value="2"> </td>
          <td> <input type="radio" name="mentalRecovery" value="3"> </td>
          <td> <input type="radio" name="mentalRecovery" value="4"> </td>
          <td> <input type="radio" name="mentalRecovery" value="5"> </td>
        </tr>
      </table>

      Sportspersonship: <br>
      <table>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <td> <input type="radio" name="sportspersonship" value="1"> </td>
          <td> <input type="radio" name="sportspersonship" value="2"> </td>
          <td> <input type="radio" name="sportspersonship" value="3"> </td>
          <td> <input type="radio" name="sportspersonship" value="4"> </td>
          <td> <input type="radio" name="sportspersonship" value="5"> </td>
        </tr>
      </table>

        <input type="submit" name="" value="save">
    </form>
  </body>
</html>
