<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>fitness</h1>
    <form  action="/skills/<%=skater.id%>/coachability?_method=PUT" method="post">
      Proactiveness:<br>
        1<input type="radio" name="proactiveness" value="1"><br>
        2<input type="radio" name="proactiveness" value="2"><br>
        3<input type="radio" name="proactiveness" value="3"><br>
        4<input type="radio" name="proactiveness" value="4"><br>
        5<input type="radio" name="proactiveness" value="5"><br>
      Mental Recovery: <br>
        1<input type="radio" name="mentalRecovery" value="1"><br>
        2<input type="radio" name="mentalRecovery" value="2"><br>
        3<input type="radio" name="mentalRecovery" value="3"><br>
        4<input type="radio" name="mentalRecovery" value="4"><br>
        5<input type="radio" name="mentalRecovery" value="5"><br>
      Sportspersonship: <br>
        1<input type="radio" name="sportspersonship" value="1"><br>
        2<input type="radio" name="sportspersonship" value="2"><br>
        3<input type="radio" name="sportspersonship" value="3"><br>
        4<input type="radio" name="sportspersonship" value="4"><br>
        5<input type="radio" name="sportspersonship" value="5"><br>
        <input type="submit" name="" value="save">
    </form>
  </body>
</html>
