<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../../partials/head.ejs %>
  <body>
    <!-- adding privatenav partials -->
    <% include ../../partials/privatenav.ejs %>
    <!-- nav -->


  <section class="section">
    <div class="columns">
      <div class="column" style="border-right: 1px solid lightgrey;">
        <!-- adding subnav for assessments -->
        <% include ../partials/skillsnav.ejs %>
      </div>

      <div class="column is-10">
        <h1 class="title"><%= skater.name %></h1>

        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-one-third has-text-info">
            <h1 style="border-bottom: 1px solid darkgrey; font-weight: bold;">exceptional at:</h1>
            <ul>
              <% if(average.agility === 5) {%>
                <li>Agility</li>
              <%}%>

              <% if(average.fitness === 5) {%>
                <li>Fitness</li>
              <%}%>

              <% if(average.teamwork === 5) {%>
                <li>Teamwork</li>
              <%}%>

              <% if(average.coachability === 5) {%>
                <li>Coachability</li>
              <%}%>
            </ul>

          </div>
          <div class="column is-one-third has-text-success">
            <h1 style="border-bottom: 1px solid darkgrey; font-weight: bold;">good at:</h1>
            <ul>
              <% if(average.agility >= 3) {%>
                <li>Agility</li>
              <%}%>

              <% if(average.fitness >= 3) {%>
                <li>Fitness</li>
              <%}%>

              <% if(average.teamwork >= 3) {%>
                <li>Teamwork</li>
              <%}%>

              <% if(average.coachability >= 3) {%>
                <li>Coachability</li>
              <%}%>
            </ul>

          </div>

          <div class="column is-one-third has-text-danger">
            <h1 style="border-bottom: 1px solid darkgrey; font-weight: bold;">needs work:</h1>
            <ul>
              <% if(average.agility < 3) {%>
                <li>Agility</li>
              <%}%>

              <% if(average.fitness < 3) {%>
                <li>Fitness</li>
              <%}%>

              <% if(average.teamwork < 3) {%>
                <li>Teamwork</li>
              <%}%>

              <% if(average.coachability < 3) {%>
                <li>Coachability</li>
              <%}%>
            </ul>

          </div>
        </div>

        <% if(average.total >= 3) {%>
          <a class="button is-dark" class="href="/skills/<%=skater.id%>/accepted">Add to the team</a>
        <%} %>
        <a class="button is-dark is-outlined" href="/skills/<%=skater.id%>/dismiss">Dismiss skater</a>
      </div>
    </div>
  </section>




  </body>
</html>
