<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>fitness</h1>
    <form  action="/skills/<%=skater.id%>/teamwork?_method=PUT" method="post">
      Pack Work:<br>
        1<input type="radio" name="packwork" value="1"><br>
        2<input type="radio" name="packwork" value="2"><br>
        3<input type="radio" name="packwork" value="3"><br>
        4<input type="radio" name="packwork" value="4"><br>
        5<input type="radio" name="packwork" value="5"><br>
      Stragery and Adaptability: <br>
        1<input type="radio" name="strategyAdaptability" value="1"><br>
        2<input type="radio" name="strategyAdaptability" value="2"><br>
        3<input type="radio" name="strategyAdaptability" value="3"><br>
        4<input type="radio" name="strategyAdaptability" value="4"><br>
        5<input type="radio" name="strategyAdaptability" value="5"><br>
      Awareness and Communication: <br>
        1<input type="radio" name="awarenessCommunication" value="1"><br>
        2<input type="radio" name="awarenessCommunication" value="2"><br>
        3<input type="radio" name="awarenessCommunication" value="3"><br>
        4<input type="radio" name="awarenessCommunication" value="4"><br>
        5<input type="radio" name="awarenessCommunication" value="5"><br>
        <input type="submit" name="" value="save">
    </form>
  </body>
</html>
