<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../../partials/head.ejs %>
  <body>
    <!-- adding subnav for assessments -->
    <% include ../partials/skillsnav.ejs %>
    <h1>fitness</h1>
    <form  action="/skills/<%=skater.id%>/teamwork?_method=PUT" method="post">
      Pack Work:<br>
      <table>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <td> <input type="radio" name="packwork" value="1"> </td>
          <td> <input type="radio" name="packwork" value="2"> </td>
          <td> <input type="radio" name="packwork" value="3"> </td>
          <td> <input type="radio" name="packwork" value="4"> </td>
          <td> <input type="radio" name="packwork" value="5"> </td>
        </tr>
      </table>

      Stragery and Adaptability: <br>
      <table>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <td> <input type="radio" name="strategyAdaptability" value="1"> </td>
          <td> <input type="radio" name="strategyAdaptability" value="2"> </td>
          <td> <input type="radio" name="strategyAdaptability" value="3"> </td>
          <td> <input type="radio" name="strategyAdaptability" value="4"> </td>
          <td> <input type="radio" name="strategyAdaptability" value="5"> </td>
        </tr>
      </table>

      Awareness and Communication: <br>
      <table>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <td> <input type="radio" name="awarenessCommunication" value="1"> </td>
          <td> <input type="radio" name="awarenessCommunication" value="2"> </td>
          <td> <input type="radio" name="awarenessCommunication" value="3"> </td>
          <td> <input type="radio" name="awarenessCommunication" value="4"> </td>
          <td> <input type="radio" name="awarenessCommunication" value="5"> </td>
        </tr>
      </table>
        <input type="submit" name="" value="save">
    </form>
  </body>
</html>
